**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Editors
.vscode
.idea

# Venv
venv

# Dist
dist
build
*.egg-info

# Tests
.tox
.pytest_cache
tests/payment_file_generated_by_test.bin